<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div id="hello">
    {{ message }} <br>
    <input type="text" v-model="message">
    <p>Kirjainten määrä: {{kirjaintenMaara}}</p>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app = new Vue({
        el: '#hello',
        data: {
            message: "Hello world!"
        },
        computed: {
            kirjaintenMaara: function () {
                return this.message.length
            }
        }
    })
</script>


</body>
</html>