
figcaption {
    font-size: smaller;
    font-weight: bold;
}

div {
    position: relative;
    max-width: 200px;
}

li {
    list-style-type: none;
}

#eka {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightblue;
}

#toka {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: cornsilk;
}

#kolmas {
    text-align: center;
    border-bottom: 1px solid black;
    background-color: indianred;
}

h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}