<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>luettelo</title>
</head>
<body>

<div id="app">
    <input type="text" v-model="message">
    <button v-on:click="lisaa">lis</button>
    <button v-on:click="poista">poista</button>
    <ol>
        <li v-for="(todo, index) in groceryList">
            {{ todo.text }}
            <button v-on:click="poistatietty(todo)">Poista</button>
        </li>

    </ol>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>


    var app = new Vue({
        el: '#app',
        data: {
            groceryList: [
                { id: 0, text: 'Vegetables' },
                { id: 1, text: 'Cheese' },
                { id: 2, text: 'Whatever else humans are supposed to eat' }
            ],
            message: "",
            indeksi: 3
        }, methods: {
            lisaa: function() {

                let juttu = {id: this.indeksi , text: this.message}
                this.groceryList.push(juttu);
                this.indeksi++;
            },
            poista: function () {
                this.groceryList.splice(this.indeksi-1, 1);
                this.indeksi--;
            },
            poistatietty: function(todo) {
              const todoIndex = this.groceryList.indexOf(todo);
              this.groceryList.splice(todoIndex, 1);
            }
        }
    })

</script>

</body>
</html>