<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app-3">
    <span v-if="seen">Now you see me</span>
    <span v-if="!seen"></span>
    <button v-on:click="Vaihda">Näytä/Piilota</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app5 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        },
        methods: {
            Vaihda: function () {
                this.seen = !this.seen
                }
            }
        })
</script>
</body>
</html>