<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plusmiinusnolla</title>
</head>
<body>

<div id="app-3">
    <p>{{maara}}</p>
    <button v-on:click="lis">+</button>
    <button v-on:click="vah">-</button>
    <button v-on:click="nol">0</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app3 = new Vue({
        el: '#app-3',
        data: {
            maara: 0
        },
        methods: {
            lis: function () {
                this.maara++
            },
            vah: function () {
                this.maara--
            },
            nol: function () {
                this.maara = 0
            }
        }
    })
</script>

</body>
</html>